<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>aics_senangpay</name>
    <displayName><![CDATA[Senangpay payment]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Accept payments for FPX and Credit Card.]]></description>
    <author><![CDATA[AiFAiZ]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure to remove this module? you wond be able to accept FPX payment later]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>